---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
  text: string;
  class?: string;
}

const { text, class: className, ...attrs } = Astro.props;
---

<div class:list={['body-text-container', className]} {...attrs}>
  <p>{text}</p>
</div>

<style>
  .body-text-container {
    max-width: min(11em, 34vw);
  }

  p {
    font-family: var(--font-body);
    font-size: clamp(12px, 4.2vw, 16px);
    font-weight: 400;
    line-height: 120%;
    color: var(--color-text);
  }
</style>
