---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
  text: string;
  class?: string;
}

const { text, class: className, ...attrs } = Astro.props;
---

<div class:list={['body-text-container', className]} {...attrs}>
  <p set:html={text} />
</div>

<style>
  .body-text-container {
    width: fit-content;
  }

  p {
    margin: 0;
    margin-left: var(--optical-adjust-serif);
    font-family: var(--font-serif);
    font-size: max(16px, calc(9px + 1.944vw));
    font-style: italic;
    font-weight: 400;
    line-height: max(16px, calc(8.67px + 2.037vw));
    color: var(--color-offwhite);
    text-align: left;
  }
</style>
