---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
  class?: string;
}

const { class: className, ...attrs } = Astro.props;
---

<div class:list={['degu-logo', className]} {...attrs}>
  <svg class="flame-svg" viewBox="0 0 530 610" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="body-bg" d="M146.5 270.8C162 270.8 94.4974 115.798 244.5 43.8017C272 30.6025 227 92.2998 267.5 151.3C313.482 218.286 318.871 200.755 330.075 266.769C330.226 267.66 331.401 267.944 331.882 267.179C365.624 213.515 314.125 146.546 348.5 160.299C373.5 170.301 482.69 268.29 445.5 399.8C431.5 449.305 389 555.8 246.5 558.8C104 561.8 42.0001 445.301 42 364.3C41.9999 294.284 102 213.3 120 205.3C138 197.3 119.925 270.8 146.5 270.8Z" fill="white" stroke="white" stroke-width="84"/>
    <path class="body-outline" d="M146.5 270.8C162 270.8 94.4974 115.798 244.5 43.8017C272 30.6025 227 92.2998 267.5 151.3C313.482 218.286 318.871 200.755 330.075 266.769C330.226 267.66 331.401 267.944 331.882 267.179C365.624 213.515 314.125 146.546 348.5 160.299C373.5 170.301 482.69 268.29 445.5 399.8C431.5 449.305 389 555.8 246.5 558.8C104 561.8 42.0001 445.301 42 364.3C41.9999 294.284 102 213.3 120 205.3C138 197.3 119.925 270.8 146.5 270.8Z" fill="white" stroke="black" stroke-width="21"/>
    <circle class="eye-left" cx="170" cy="371" r="26" fill="black"/>
    <circle class="eye-right" cx="285" cy="371" r="26" fill="black"/>
  </svg>
</div>

<script>
  import { initFlameAnimation } from '@lib/animations/flameLogo';
  import { registerCleanup } from '@lib/animations/lifecycle';

  document.addEventListener('astro:page-load', () => {
    const svg = document.querySelector<SVGSVGElement>('.degu-logo .flame-svg');
    if (svg) registerCleanup(initFlameAnimation(svg));
  });
</script>

<style>
  .degu-logo {
  }

  .flame-svg {
    display: block;
    height: max(40px, calc(34.67px + 1.481vw));
    width: auto;
  }
</style>
