---
import type { HTMLAttributes } from 'astro/types';
import { Image } from 'astro:assets';
import logo from '@assets/images/logo/Logo.png';

interface Props extends HTMLAttributes<'div'> {
  class?: string;
}

const { class: className, ...attrs } = Astro.props;
---

<div class:list={['degu-logo', className]} {...attrs}>
  <Image src={logo} alt="Degu Studio" />
</div>

<style>
  .degu-logo {
  }

  img {
    display: block;
    height: max(40px, calc(34.67px + 1.481vw));
    width: auto;
  }
</style>
