---
import type { HTMLAttributes } from 'astro/types';
import { Image } from 'astro:assets';
import teamPhoto from '../assets/images/team/TeamPhoto.png';

interface Props extends HTMLAttributes<'section'> {
  class?: string;
}

const { class: className, ...attrs } = Astro.props;
---

<section class:list={['outro', className]} {...attrs}>
  <div class="outro-inner">
    <slot />
    <Image src={teamPhoto} alt="Degu Studio team" class="team-photo" />
  </div>
</section>

<style>
  .outro {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding-top: max(15px, calc(10px + 1.389vw));
    padding-right: max(15px, calc(10px + 1.389vw));
    padding-bottom: max(calc(72.67px - 2.963vw), calc(10px + 1.389vw));
    padding-left: max(15px, calc(10px + 1.389vw));
    background: red;
  }

  .outro-inner {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: grey;
  }

  .team-photo {
    position: absolute;
    right: calc(-186.99px + 38.141vw);
    top: calc(50% - 138.33px + 3.704vw);
    transform: rotate(10.86deg);
    width: calc(236.93px + 5.421vw);
    height: auto;
  }
</style>
