---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
  text: string;
  class?: string;
}

const { text, class: className, ...attrs } = Astro.props;
---

<div class:list={['outro-body-text-container', className]} {...attrs}>
  <p set:html={text} />
</div>

<style>
  .outro-body-text-container {
    width: fit-content;
  }

  p {
    margin: 0;
    margin-left: var(--optical-adjust-serif);
    font-family: var(--font-serif);
    font-size: 24px;
    font-style: normal;
    letter-spacing: -0.05em;
    font-weight: 400;
    line-height: 1;
    color: var(--color-offwhite);
    text-align: left;
  }
</style>
